.white {
  background: #f1faee;
  color: #003049;
  width: 240px;
  height: 180px;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: default;
}

.des {
  width: 240px;
  height: 180px;
  padding: 30px;
  font-size: 1.8rem;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #f1faee;
  background: #e07a5f;
  cursor: default;
}