.whole {
  margin: 0 0 0 80px;
  padding: 10px;
  cursor: default;
}

.hey {
  font-size: 5rem;
}

.title {
  font-size: 5rem;
  color: #003049;
}

.desc {
  margin-top: 10px;
  color: #474747;
}

@media only screen and (max-width: 1081px) {
  .whole {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hey {
    font-size: 4.5rem;
  }

  .title {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .hey {
    font-size: 4rem;
  }

  .title {
    font-size: 4rem;
  }
}
