* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  background: #f1faee;
  font-family: Teko !important;
  overflow-x: hidden;
}

@font-face {
  font-family: Teko;
  src: url("./Assets/Fonts/Teko-Regular.ttf");
}
