.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  color: #e07a5f !important;
}

.decor {
  text-decoration: none;
  color: #003049 !important;
}

.decor:hover {
  color: #e07a5f !important;
}

@media screen and (max-width: 767px) {
  .nav {
    width: 130%;
    text-align: center;
    background: #003049;
    color: #f1faee;
    margin: 20px auto;
    padding: 15px;
    position: relative;
    right: 40px;
  }

  .nav-item {
    margin-right: 15px;
    font-size: 1.2rem;
  }
}
